@using DoAn.Models;
@model List<DMSP>


<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-12 col-sm-6 col-lg-3 text-center transition marb30">

            <a class="item-hover-1 relative transition" href="/danh-muc-san-pham/@item.Alias-@item.ID" title="@item.TenLoai">
                <div class="hover">
                    <h2 class="h2-tax text-center text-uppercase cl_white font18 w100">@item.TenLoai</h2>
                    <img class="w100" src="@item.HinhAnh" alt="" />

                    <div class="overlay ">
                        <div class="w100">
                            <span class="text-uppercase transition">Chi tiết</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    }
</div>



